<% turbo_stream_from "mainthreads" %>

<h1>Main Info area</h1>

<% turbo_frame_tag 'mainthread_form' do %>

<%= render 'form', mainthread: @mainthread %>

<% end %>

<%= turbo_frame_tag "mainthreads" do %>
 <% render @mainthread %>
<% end %>
