<div class="card">
<h1>Main Info area</h1>
<div class="container">
  <p class="buttons"><%= link_to 'add info', new_mainthread_path %></p>
    <% @mainthreads.each do |mainthread| %>
<br>
<br>

        <span style="display: inline-block; flex;" class="maincontent"><%= mainthread.name %></span>
        <span style="display: inline-block;" class="maincontent"><%= mainthread.info %></span>
        <br/>
        <br/>
        <br/><!--just to keep the buttons seperate-->
    <%= button_to 'Delete', mainthread, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>
</div>
