
.maincontent {
  color: red;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  height: 30px;
  padding: 7px 7px 0;
}
.buttons {
  color: pink;
  background-color: cyan;
  border-radius: 13px;
  text-align: center;
  height: 25px;
  padding: 7px 7px 0;
}

body,{
  background: url(light.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width:  auto;
  font-size: 10px;
  font-family: 'sans', bold;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15;
  line-height: 18px;
  text-align: left;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: blue;
  border-style: outset;
  background-color: red; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,{
  padding: 30px;
  border: 2px color red;
  text-decoration-color: red;
  color: white;
}
div.actions {
  margin-bottom: 10px; }
h1, p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: white;
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }


  .wrapper {
    border-radius: 20px;
    text-align: center;
    height: 30px;
    border-style: outset;
    padding: 7px 7px 0;
    left:0;
    right:0;
    top: 20px;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}

  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
